h1 {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    
}   

img {
    size: inherit;
    height: 300px;
    width: 300px;
}

h2 {font-family: Georgia, 'Times New Roman', Times, serif;
color: blue;
position: relative;
text-decoration: underline;
}

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
}

h3 {
    font-style: italic;
    color: blue;
}

td {
    color: darkred;
}

a:hover {
    text-decoration-color: green;
}